#video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 4%;
}

#video-list-root-container {
    height: 688px;
    padding: 0 5%;
    overflow: scroll;
    background: #000;
}

#video-list-header {
    color: wheat;
    padding: 10px;
}
