#input-label {
    font-size: 30px;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 4vw;
    padding: 1% 0 3% 0;
    color: #fff;
}

#search-input-segment {
    background-color: inherit;
    border: none;
}